%ul.nav.navbar-nav
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "Passenger Vehicles", "#"
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "Commercial Vehicles", "#"
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "Visit A Dealer", "#"
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "Customer Care", "#"  
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "About Us", "#"
  %li{:class => "#{controller_name == '' ? 'active' : ''}"}
    = link_to "Contact Us", "#"
  
