%h1 Listing features

%table
  %thead
    %tr
      %th Passenger vehicle
      %th Feature type
      %th Feature
      %th
      %th
      %th

  %tbody
    - @features.each do |feature|
      %tr
        %td= feature.passenger_vehicle_id
        %td= feature.feature_type
        %td= feature.feature
        %td= link_to 'Show', feature
        %td= link_to 'Edit', edit_feature_path(feature)
        %td= link_to 'Destroy', feature, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feature', new_feature_path
