!!!
%html{"ng-app" => 'myApp'}
  %head
    %title Detroit-Tatamotors
    = include_gon(:init => true) 
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  .body
    .row
      = render '/shared/banner'
    .row
      .container
        - if controller_name == 'passenger_vehicles'
          .row
            - PassengerVehicle.all.each do |passenger_vehicle|
              .row
                .col-md-2.col-xs-12
                  %center
                    = link_to "#{passenger_vehicle.name}", passenger_vehicle_path(passenger_vehicle), :class => "btn btn-primary"
                    -# %a.btn.btn-primary{href: '/passenger_vehicles/"#{passenger_vehicle.id}"'}= passenger_vehicle.name

          %br
          .container12
            = render '/shared/menu'
            = yield
        - else 
          .container
            = yield
